---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="About">
	<h1>About The Notebook Corner</h1>

    <p>Notebooks for every ocasion.</p>
</Layout>
