---
import HeaderButton from "../components/HeaderButton.astro";
console.log("javascript");
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <!-- <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
            The Notebook Corner 📓
        </h2> -->
        <h1 class="mb-4 text-5xl tracking-tight font-extrabold text-white">The <span class="text-gradient">Notebook</span> Corner📓</h1>
        <p class="font-light text-gray-800 text-xl dark:text-gray-100">
            A Notebook for every you.
        </p>
    </div>

    <nav
        class="flex flex-col items-center justify-between w-full text-center md:flex-row"
    >
        <HeaderButton href="/thenotebookcorner.com">Home</HeaderButton>
        <HeaderButton href="/thenotebookcorner.com/default">Default</HeaderButton>
        <HeaderButton href="/thenotebookcorner.com/about">
            <svg
                slot="before"
                width="44"
                height="44"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#2c3e50"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 9h.01"></path>
                <path d="M11 12h1v4h1"></path>
                <path
                    d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
                ></path>
            </svg>
             About
        </HeaderButton>
    </nav>
</header>

<style>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	/* h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	} */
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
