---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Meeting">
    <article>
        <h1 class="my-2 text-2xl font-bold tracking-tighter text-white">Meeting</h1>
    </article>
</Layout>
